body {
  margin: 0;
  background-color: #444;
}

.flex {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  color: cadetblue;
  font-size: 40px;
  font-family: sans-serif;
  text-shadow: 0 0 20px black;
}

img {
  display: block;
  margin: 0 auto;
  width: 50%;
}